@import "blocks/fonts";
@import "blocks/reset";
@import "blocks/normalize";

.container {
    padding: 0 30px;
    max-width: 1230px;
    margin: 0 auto;
}

.section {
    &--has-bg {
        background-color: #F1F1F1;
    }

    &__container {
        padding-top: 90px;
        padding-bottom: 90px;
    }

    &__title {
        text-align: center;
        line-height: 51px;
        font-weight: 600;
        font-size: 34px;
        color: #070707;
    }
}

.hidden {
    width: 0;
    height: 0;
    position: absolute;
    opacity: 0;
    z-index: -1;
}

.header {
    position: absolute;
    left: 0;
    right: 0;

    &__container {
        display: flex;
        align-items: flex-end;
        justify-content: space-between;
        column-gap: 50px;
        padding-top: 46px;
        padding-bottom: 46px;

        @media (max-width: 768px) {
            align-items: center;
        }
    }

    &__menu {
        @media (max-width: 768px) {
            display: none;
            position: absolute;
            z-index: 1;
            background: #fff;
            top: 0;
            right: 0;
            left: 0;
            padding: 100px;
            height: 100vh;

            &--is-visible {
                display: block;
            }
        }
    }
}

.header-nav {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    column-gap: 50px;

    @media (max-width: 768px) {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        row-gap: 30px;
    }

    &__link {
        font-size: 14px;
        font-weight: 500;
        color: #000;
        text-decoration: none;

        @media (max-width: 768px) {
            font-size: 34px;
            font-weight: 600;
            color: #828282;
        }

        &:hover {
            color: #606060;

            @media (max-width: 768px) {
                color: #000000;
            }
        }
    }
}

.header-close-btn {
    display: none;

    @media (max-width: 768px) {
        $self: &;
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        z-index: 1;
        width: 34px;
        height: 20px;

        &--is-active {
            --header-close-btn-line-bg: #828282;

            &:hover {
                --header-close-btn-line-bg: black;
            }

            #{$self} {
                &__line {
                    position: absolute;
                    top: 50%;

                    &:nth-child(1) {
                        transform: rotate(45deg);
                    }

                    &:nth-child(2) {
                        display: none;
                    }

                    &:nth-child(3) {
                        transform: rotate(-45deg);
                    }
                }
            }
        }

        &__line {
            transition: all linear 0.1s;
            background: var(--header-close-btn-line-bg, black);
            height: 4px;
            width: 34px;
        }
    }
}

.first-screen {
    height: 770px;

    @media (max-width: 1024px) {
        height: 624px;
    }

    @media (max-width:768px) {
        height: auto;
    }

    &__container {
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 30px;

        @media (max-width: 768px) {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            padding-top: 125px;
        }
    }

    &__text-block {
        display: flex;
        flex-direction: column;
        row-gap: 20px;
        max-width: 500px;
    }

    &__img {
        align-self: flex-end;

        @media (max-width: 1024px) {
            height: 500px;
        }

        @media (max-width: 768px) {
            height: 394px;
        }

        @media (max-width: 375px) {
            height: 330px;
            align-self: flex-start;
        }
    }

    &__title {
        font-weight: 600;
        font-size: 44px;

        @media (max-width: 1024px) {
            font-size: 25px;
        }

        @media (max-width:768px) {
            font-size: 33px;
        }

        @media (max-width: 425px) {
            font-size: 28px;
        }

        @media (max-width: 375px) {
            font-size: 23px;
        }
    }

    &__description {
        font-weight: 400;
        line-height: 2;
        font-size: 14px;

        @media(max-width: 375px) {
            font-size: 12px;
        }
    }
}

.features {
    display: flex;
    column-gap: 30px;

    @media (max-width: 768px) {
        flex-direction: column;
        row-gap: 60px;
    }
}

.features-card {
    &__title {
        font-weight: 600;
        font-size: 24px;
        margin-top: 30px;
        text-transform: uppercase;
    }

    &__description {
        margin-top: 10px;
        font-weight: 400;
        font-size: 14px;
        line-height: 2;
    }
}

.projects {
    margin-top: 60px;
    display: flex;
    flex-direction: column;
    gap: 90px;
}

.projects-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;

    &__img {
        width: 100%;
        transition: 0.3s ease-in-out;

        &:hover {
            transform: scale(0.95);
        }
    }

    &__link {
        font-weight: 400;
        font-size: 18px;
        color: #070707;
        transition: 0.5s;

        &:hover {
            text-decoration: none;
        }
    }
}

.footer {
    &__container {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    &__text {
        text-align: center;
        margin-top: 40px;
        font-size: 18px;
    }

    &__btn {
        margin-top: 41px;
        background-color: #070707;
        border-radius: 21px;
        border: 2px solid #070707;
        color: #FFF;
        padding: 9px 28px;
        font-size: 18px;
        font-weight: 400;
        transition: background-color 0.5s, color 0.5s;

        &:hover {
            animation: pulse 0.8s;
            background-color: transparent;
            color: #070707;
            box-shadow: 0 0 20px 20px transparent;
        }

        @keyframes pulse {
            0% {
                box-shadow: 0 0 0 0 #070707;
            }
        }
    }

    &__feedback {
        margin-top: 32px;
        text-align: center;
        font-size: 14px;
        color: #828282;
    }
}

.footer-social-links {
    margin-top: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 60px;

    @media (max-width: 375px) {
        column-gap: 30px;
    }
}

.footer-social-link {
    transition: transform 0.4s ease;

    &:hover {
        transform: scale(1.25);
    }
}